<div class="container-white row">
   <div class="col-sm-7">
      <h2>My Classes</h2>
      <hr />

      <div class="panel panel-default panel-info" ng-repeat="enrollment in enrollments">
         <div class="panel-heading">
            <span class="badge pull-left">
               {{ enrollment.creditsEarned }}
            </span>
            <h2 class="panel-title">{{ enrollment.courseName }}</h2>
            <div class="clearfix"></div>
         </div>
         <div class="panel-body">
            <a href="#Enrs/{{ enrollment.enrId }}" class="btn btn-success" type="button">Go!</a>
         </div>
      </div>
   </div>
   <div class="col-sm-5">
      <h2>Store</h2>
      <hr />

      <div class="panel panel-default" ng-show="str.items.length" ng-repeat="(course, str) in store">
         <div class="panel-heading">
            <span class="badge pull-left">
               {{ str.creditsEarned }}
            </span>
            <h2 class="panel-title">{{ course }}</h2>
            <div class="clearfix"></div>
         </div>
         <div class="list-group-item" ng-repeat="item in str.items">
            <button class="btn btn-small btn-primary pull-right" ng-click="buyItem(item.id)" ng-disabled="str.creditsEarned < item.cost">Buy ({{ item.cost }})</button>
            {{ item.name }}
         </div>
      </div>
   </div>
</div>
